*
!Dockerfile
!Cargo.lock
!Cargo.toml
!build.rs
!rust-toolchain.toml
!contracts/
!contracts/lidar/
!contracts/lidar/v1/
!contracts/lidar/v1/lidar.proto
!licenses/
!licenses/THIRD_PARTY_NOTICES.html
!src/
!src/**
src/scrap_monitoring_lidar_simulator/
